body{

    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    text-decoration: wavy;
    background-color: lightblue;


}
a{
    color: whitesmoke;
    text-align:center;
    text-decoration:none;
    padding: 14px 25px;
}
form
{
color:aqua;
font-size: x-large;
font-family: 'Courier New', Courier, monospace;
}